<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">

        <app-navbar-title>
        </app-navbar-title>

        <div class="clearfix"></div>

        <app-menu-profile-info>
        </app-menu-profile-info>

        <br/>

        <app-sidebar>
        </app-sidebar>

        <app-menu-footer-buttons>
        </app-menu-footer-buttons>

      </div>
    </div>

    <app-top-navigation>
    </app-top-navigation>

    <router-outlet></router-outlet>

    <app-footer>
    </app-footer>

  </div>
</div>
